<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Courses Page View</title>

    <script src="js/echarts.common.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

</head>
<body>

<div id="main"
     style="width:600px; height:400px; position:absolute; top:50%; left:50%; margin-top:-200px; margin-left:-300px">

</div>
<script type="text/javascript">

    var myChart = echarts.init(document.getElementById('main'));

    var option = {
        title: {
            text: 'MOOC Real-time Page View Statistics',
            subtext: 'Class Type Courses',
            x: 'center'
        },
        tooltip: {
            trigger: 'item',
            formatter: "{a} <br/>{b} : {c} ({d}%)"
        },
        series: [
            {
                name: 'Page View',
                type: 'pie',
                radius: '55%',
                center: ['50%', '60%'],
                data: (function(){ //<![CDATA[
                    var coursesPageViewData = [];
                    $.ajax({
                        type: "POST",
                        url: "/moocwebpageview/class-type-courses-click-count",
                        dataType: 'json',
                        async: false,
                        success: function(result) {
                            for(var i=0; i<result.length; i++) {
                                coursesPageViewData.push({"value":result[i].value, "name":result[i].name})
                            }
                        }
                    })
                    return coursesPageViewData;
                    //]]>
                })(),
                itemStyle: {
                    emphasis: {
                        shadowBlur: 10,
                        shadowOffsetX: 0,
                        shadowColor: 'rgba(0, 0, 0, 0.5)'
                    }
                }
            }
        ]
    };

    myChart.setOption(option);
</script>


</body>
</html>